<div class="container" ng-controller="Page3Ctrl">
  <div class="page-header">
      <h1>Demo Product List
      </h1>
  </div>
    <table class="table table-bordered">
        <thead>
      <tr>
        <th>No</td>
        <th>Categories</td>
        <th>Description</td>
      </tr>
        </thead>
        <tbody>
      <tr ng-repeat="todo in todos">
        <td>{{todo.id}}
        </td>
        <td>
          {{todo.name}}
        </td>
     <td>
        {{todo.desc}}
     </td>
      </tr>
    </tbody>
    </table>
</div>
